<div class="chart-container">
    <div class="details-panel">
        <div class="panel-header">
            Options
        </div>
        <div class="source-text">
            All data is sourced from <a href="https://covidtracking.com/" target="_blank">The COVID Tracking Project</a>.
        </div>
        <div class="details">
            <div class="sub-details-header">
                Date Range
            </div>
            <div class="btn-group btn-group-toggle">
                <label class="btn btn-secondary active">
                    <input type="radio" name="history-radio" value="Week" id="history-radio-week" (change)="onDateRangeChange($event.target.value)" checked="checked"> Week
                </label>
                <label class="btn btn-secondary">
                    <input type="radio" name="history-radio" value="Month" id="history-radio-month" (change)="onDateRangeChange($event.target.value)"> Month
                </label>
                <!-- <label for="history-radio-week">Week</label> -->
                <label class="btn btn-secondary">
                    <input type="radio" name="history-radio" value="ThreeMonths" id="history-radio-threemonth" (change)="onDateRangeChange($event.target.value)">Three Months
                </label>
                <label class="btn btn-secondary">
                    <input type="radio" name="history-radio" value="AllTime" id="history-radio-all" (change)="onDateRangeChange($event.target.value)">All Time    
                </label>
                <!-- <label for="history-radio-month">Month</label> -->
                
                <!-- <label for="history-radio-threemonth">3 Months</label> -->
                
                <!-- <label for="history-radio-all">All Time</label> -->
            </div>
            <div class="sub-details-header">
                State
            </div>
            <div>
                <select class="form-control" (change)="onStateChange($event.target.value)">
                    <option *ngFor="let state of states" [value]="state.code">{{state.label}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="chart-panel">
        <app-graph-view *ngIf='filteredStateCovidData' [stateData]='filteredStateCovidData'></app-graph-view>
        <!-- <div class="null-graph-text" *ngIf="!stateCovidData">Select a state to populate the graph</div> -->
    </div>
    
</div>
