.chart-container{
    display: flex;
    margin-right: 0 !important;
    margin-left: 0 !important;
    padding: 0 !important;
}

.details-panel{
    float: left;
    background-image: linear-gradient(to bottom, #212529, #3f51b5);
    // box-shadow: 15px 0 0 0 rgba(33,37,41,0.5);
    width: 25%;
    height: 100vh;
    position: relative;
    z-index: 1;
    border-right: 3px solid #BDBDBD;
    text-align: center;
}

.chart-panel{
    float: left;
    width: 75%;
    background-color: lightblue;
    height: 100vh;
    position: relative;
    padding: 0 15px 0 15px;
}
.panel-header{
    border-bottom: 1px solid #FAFAFA;
    color: #FAFAFA;
    font-size: 26px;
}

.sub-details-header{
    color: white;
    margin-top: 10px;
    font-size: 18px;
}

select{
    width: 50%;
    display: inline-block;
}

.source-text{
    color: white;
    margin: 15px 0 15px 0;
}

.null-graph-text{
    margin-top: 20%;
    font-size: 28px;
    width: 32.5%;
    margin-right: auto;
    margin-left: auto;
    color: #dc3545;
}